[Desktop Entry]
Name=LM-Studio
Exec=/opt/LM-Studio/lm-studio %U
Terminal=false
Type=Application
Icon=lm-studio
StartupWMClass=ai.elementlabs.lmstudio
Comment=Use the chat UI or local server to experiment and develop with local LLMs.
Keywords=developer;llm;
MimeType=x-scheme-handler/lmstudio;
Categories=aitools;
