[Desktop Entry]
Name=PDF Tricks
GenericName=Tips & Tricks for PDF files
Comment=A simple, efficient app for small manipulation of PDF files. Compress, split, merge and convert PDF.
Categories=
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=com.github.muriloventuroso.pdftricks com.github.muriloventuroso.pdftricks
Icon=com.github.muriloventuroso.pdftricks
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.muriloventuroso.pdftricks
Keywords=PDF;utilities;
Keywords[lt]=PDF;paslaugos;
Keywords[nb_NO]=PDF;verktøy;
X-Flatpak=com.github.muriloventuroso.pdftricks
Hidden=false
