[Desktop Entry]
Name[ca]=PDF Tricks
Name[de]=PDF Tricks
Name[el]=Κόλπα PDF
Name[en_AU]=PDF Tricks
Name[en_CA]=PDF Tricks
Name[en_GB]=PDF Tricks
Name[eo]=PDF-Trukoj
Name[es]=PDF Tricks
Name[fa]=ترفندهای PDF
Name[fr]=Astuces PDF
Name[he]=תכסיסי PDF
Name[hr]=PDF trikovi
Name[hu]=PDF Tricks
Name[it]=PDF Tricks
Name[ja]=PDF Tricks
Name[ko]=PDF 요령
Name[lt]=PDF Tricks
Name[mr]=पीडीएफ युक्त्या
Name[nb]=PDF-triks
Name[nl]=PDF Tricks
Name[pl]=PDF Tricks
Name[pt_BR]=PDF Tricks
Name[pt]=PDF Tricks
Name[ro]=Trucuri PDF
Name[ru]=Улучшатель PDF
Name[sv]=PDF Tricks
Name[tr]=PDF Tricks
Name[ug]=PDF چارىسى
Name[uk]=PDF хитрості
Name[zh]=PDF Tricks
Name[zh_TW]=PDF 技巧
Name=PDF Tricks
GenericName=Tips & Tricks for PDF files
GenericName[lt]=Patarimai ir triukai PDF failams
Comment=A simple, efficient app for small manipulation of PDF files. Compress, split, merge and convert PDF.
Comment[nb_NO]=Et lite og formålstjenlig program for å utføre små endringer på PDF-filer. Pakk sammen, del opp, flett og koverter PDF.
Comment[lt]=Paprasta, efektyvi programa, skirta valdymui PDF failuose. Glaudinti, padalyti, sulieti ir konvertuoti PDF.
Categories=
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=com.github.muriloventuroso.pdftricks com.github.muriloventuroso.pdftricks
Icon=com.github.muriloventuroso.pdftricks
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.muriloventuroso.pdftricks
Keywords=PDF;utilities;
Keywords[lt]=PDF;paslaugos;
Keywords[nb_NO]=PDF;verktøy;
X-Flatpak=com.github.muriloventuroso.pdftricks
Hidden=false
