[Desktop Entry]
Type=Application
Name=Stacer
GenericName=Linux System Optimizer and Monitoring
Comment=Optimize and monitor your Linux system
Icon=stacer
Hidden=false
Exec=stacer
Terminal=false
Categories=System;Monitor
