[Desktop Entry]
Version=1.0
Type=Application
Name=Search
Comment=A file search application focusing on performance and advanced features
Icon=io.github.cboxdoerfer.FSearch
TryExec=fsearch
Exec=fsearch
Categories=
Keywords=search;fsearch;files;folders;music;video;documents;find;tool;everything;
StartupNotify=true
Hidden=false
