toolbar {
	background-image: none;
	background-color: #edeceb;
}

.mate-panel-menu-bar.horizontal #fast-user-switch-menubar > menuitem {
	padding: 2px;
}

.mate-panel-menu-bar.vertical #fast-user-switch-menubar > menuitem {
	padding: 1px;
}
