#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name[en_US]=Downloads
Exec=caja Downloads
Name=Downloads
Icon=/usr/share/icons/Humanity/places/64/folder_download.svg
