#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Control Center
GenericName=The MATE configuration tool
Comment=Configure MATE settings
Icon=preferences-desktop
Exec=mate-control-center
Terminal=false
Type=Application
StartupNotify=false
Categories=GTK;Settings;
Keywords=MATE;control;center;configuration;tool;desktop;preferences;
OnlyShowIn=MATE;
NoDisplay=false
