[Desktop Entry]
Version=1.0
Name=Gmail
Comment=Email from google
Exec=chromium --app="https://gmail.com" --name=Gmail --class=Gmail --window-size=1200,900
Terminal=false
Type=Application
Icon=/usr/share/icons/web-apps/gmail.png
Categories=Office;
