[Desktop Entry]
Version=1.0
Name=ChatGPT
Comment=your AI chatbot for everyday use
Exec=chromium --app="https://chatgpt.com" --name=ChatGPT --class=ChatGPT --window-size=1200,900
Terminal=false
Type=Application
Icon=/usr/share/icons/web-apps/chatgpt.png
Categories=aitools;
