[Desktop Entry]
Version=1.0
Type=Application
Name[ar]=FSearch
Name[ber]=ⴼ-ⵙⵓⵔⵜⵛ
Name[bg]=Търсене на файлове
Name[ca]=FSearch
Name[de]=FSearch
Name[el]=FSearch
Name[es]=FSearch
Name[eu]=Fsearch
Name[fi]=FSearch
Name[fr]=FSearch
Name[gl]=FSearch
Name[he]=FSearch
Name[hu]=FSearch
Name[id]=FSearch
Name[it]=FSearch
Name[ja]=FSearch
Name[ko]=FSearch
Name[lt]=FSearch
Name[mr]=FSearch
Name[nb_NO]=FSøk
Name[nl]=FSearch
Name[pl]=FSearch
Name[pt]=FSearch
Name[pt_BR]=FSearch
Name[ru]=FSearch
Name[sk]=FSearch
Name[sv]=FSearch
Name[te]=ఎఫ్ సర్చ్
Name[tr]=FSearch
Name[tzm]=FSearch
Name[uk]=FSearch
Name[zh_CN]=FSearch
Name[en_GB]=FSearch
Name=Search
Comment[ar]=تطبيق بحث عن الملفات يركز على الأداء والميزات المتقدمة
Comment[bg]=Инструмент за търсене, фокусиран върху висока производителност и разширени възможности
Comment[de]=Eine Dateisuche mit Schwerpunkt Geschwindigkeit und erweitertem Funktionsumfang
Comment[el]=Μια εφαρμογή αναζήτησης αρχείων που επικεντρώνεται στις επιδόσεις και τις προηγμένες δυνατότητες
Comment[es]=Herramienta de búsqueda centrada en la velocidad y con prestaciones avanzadas
Comment[eu]=Errendimenduan eta funtzio aurreratuetan zentratzen den fitxategiak bilatzeko aplikazioa
Comment[fi]=Suorituskykyyn ja lisäominaisuuksiin keskittyvä hakutyökalu
Comment[fr]=Un utilitaire de recherche axé sur la performance et avec des fonctionnalités avancées
Comment[he]=יישום חיפוש קבצים ממוקד ביצועים ותכונות מתקדמות
Comment[hu]=Egy fájlkereső alkalmazás, mely a teljesítményre és a fejlett képességekre összpontosít
Comment[it]=Un'applicazione per la ricerca di file con un focus su prestazioni e funzioni avanzate
Comment[ko]=성능 및 고급 기능에 중점을 둔 파일 검색 프로그램
Comment[lt]=Failų paieškos programa, kuri daugiausia dėmesio skiria našumui ir išplėstinėmis ypatybėmis
Comment[mr]=कार्यप्रदर्शन आणि प्रगत वैशिष्ट्यांवर लक्ष केंद्रित करणारे फाइल शोध अप्लिकेशन
Comment[nl]=Een zoekhulpmiddel met als doel snelheid en uitgebreide mogelijkheden
Comment[pl]=Narzędzie wyszukiwania, koncentrujące się na wydajności i zaawansowanych funkcjach
Comment[pt]=Um utilitário de busca de ficheiros, focado em desempenho e recursos avançados
Comment[pt_BR]=Um utilitário de busca de arquivos focado em desempenho e recursos avançados
Comment[ru]=Инструмент поиска файлов, нацеленный на быстродействие и продвинутые возможности
Comment[te]=పనితనం మరియు ఆధునిక ఫీచర్ లు కలిగిఉన్న ఫైల్ లు వెతికే అప్లికేషన్
Comment[tr]=Performans ve gelişmiş özelliklere odaklanan bir dosya arama uygulaması
Comment[uk]=Програма пошуку файлів, орієнтована на швидкість та розширені можливості
Comment[zh_CN]=注重性能和高级功能的文件搜索工具
Comment[en_GB]=A file search application focusing on performance and advanced features
Comment=A file search application focusing on performance and advanced features
Icon=io.github.cboxdoerfer.FSearch
TryExec=fsearch
Exec=fsearch
Categories=
Keywords[ar]=بحث;fsearch;ملفات;مجلدات;موسيقى;فيديو;مستندات;بحث;أداة;كل شيء;
Keywords[ber]=ⴰⵔⵣⵣⵓ;fsearch;ⵉⴼⵓⵢⵍⴰ;ⵉⵙⴷⴰⵡⵏ;ⴰⵥⴰⵡⴰⵏ;ⴰⴼⵉⴷⵢⵓ;ⵜⵉⵏⵜⴰⵎⵉⵏ;ⴰⴼ;ⵉⵎⵉⵙ;ⵎⴰⵕⵕⴰ;
Keywords[bg]=търсене;fsearch;файлове;папки;музика;видео;документи;намиране;инструмент;всичко;
Keywords[de]=suchen;fsearch;Dateien;Ordner;Musik;Video;Dokumente;finden;Werkzeug;alles;
Keywords[es]=buscar;fsearch;archivos;carpetas;música;video;documentos;encontrar;herramienta;todo;
Keywords[eu]=bilatu;fsearch;fitxategiak;karpetak;musika;bideoa;dokumentuak;aurkitu;tresna;dena;
Keywords[fr]=rechercher;fsearch;fichiers;dossiers;musique;vidéos;documents;trouver;outil;tout;
Keywords[he]=חיפוש;קבצים;תיקיות;מוזיקה;סרטון;וידאו;סרטונים;קליפים;מסמכים;מסמך;חיפוש;איתור;כלי;הכול;fsearch;
Keywords[hu]=keres;search;fsearch;fájlok;mappák;könyvtárak;zene;videó;dokumentumok;talál;megtalál;rátalál;találat;eszköz;minden;
Keywords[it]=cerca;fsearch;file;cartelle;musica;video;documenti;trova;strumento;tutto;
Keywords[ko]=search;fsearch;files;folders;music;video;documents;find;tool;everything;검색;파일;폴더;음악;비디오;문서;찾기;도구;
Keywords[lt]=paieška;fsearch;failai;aplankai;muzika;vaizdo įrašai;dokumentai;rasti;įrankis;viskas;
Keywords[mr]=शोधा;fsearch;फाइल्स;फोल्डर्स;संगीत;व्हिडिओ;कागदपत्रे;शोधा;साधन;सर्वकाही;
Keywords[nb_NO]=søk;fsearch;filer;mapper;musikk;video;dokumenter;finn;verktøy;alt;
Keywords[nl]=zoeken;fsearch;bestanden;mappen;muziek;video;documenten;vinden;hulpmiddel;alles;
Keywords[pl]=szukanie;fsearch;pliki;katalogi;muzyka;wideo;dokumenty;szukanie;narzędzie;wszystko;
Keywords[pt]=busca;fsearch;arquivos;pastas;músicas;vídeos;documentos;encontrar;ferramenta;everything;
Keywords[pt_BR]=busca;fsearch;arquivos;pastas;músicas;vídeos;documentos;encontrar;ferramenta;everything;
Keywords[ru]=search;fsearch;files;folders;music;video;documents;find;tool;everything;поиск; файлы; папки; музыка; видео; документы; найти; инструмент; все;
Keywords[te]=సర్చ్;ఎఫ్ సర్చ్; ఫైల్ లు;ఫోల్డరు లు;సంగీతం;వీడియో;డాక్యుమెంట్లు;కనుగొను;పనిముట్టు;సమస్తమూ;
Keywords[tr]=search;fsearch;files;folders;music;video;documents;find;tool;everything;arama;dosyalar;klasörler;müzik;belgeler;bul;araç;her şey;
Keywords[tzm]=rzu;fsearch;ifuyla;isdawen;aẓawan;avidyu;inatamen;af;imis;maṛṛa;
Keywords[uk]=пошук;fsearch;файли;каталоги;музика;відео;документи;шукати;засіб;everything;
Keywords[zh_CN]=搜索;fsearch;文件;目录;音乐;视频;文档;查找;工具;everything;
Keywords[en_GB]=search;fsearch;files;folders;music;video;documents;find;tool;everything;
Keywords=search;fsearch;files;folders;music;video;documents;find;tool;everything;
StartupNotify=true
Hidden=false
